.details {

}

.container {
    width: 100vw;
    position: fixed;
    height: 100vh;
    opacity: 0.7;
    background: url("/lords.png") no-repeat center center fixed;
    background-size: 100% 100vh;
    z-index: -1;
}

.totalHero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 50px 300px 0;
    font-weight: bold;
    font-size: 45px;
    font-style: italic;
    color: darkblue;
}

.icon {
    display: flex;
    flex-direction: row;
}

.history {
    border: 1px solid black;
    width: 290px;
    height: 350px;
    background-color: #d9d9d9;
    opacity: 0.8;
    color: black;
    font-style: oblique;
}

.btn {
    margin: 0 0 0 50px;
}



