.barracks {
    max-width: 100%;
    background-color: yellow;
}

.blocks {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #39e0bb;
}

.classOne {
    width: 1150px;
    height: 290px;
    justify-content: center;
    margin: 40px auto;
    font-weight: bold;
    font-size: 23px;
    font-family: Bahnschrift;
}

.item {
    display: flex;
    justify-content: space-around;
}




